<form action="{% url 'result' %}" method="POST">
    {% csrf_token %}
    <div class="input-group" style="width:100%;">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" name="stuId" id="stuId" placeholder="Enter Your Registration No." required>
      <button type="submit" class="btn btn-outline-secondary">Search</button>

      <div class="mt-2 container-fluid">
        <div class="row">
          <div class ="col-md-3 col-sm-6">
            <select class="form-select-sm" name="semester" id="major">
              <option value="" selected>All semester</option><option value="1">1/1</option><option value="2">1/2</option><option value="3">2/1</option><option value="4">2/2</option><option value="5">3/1</option><option value="6">3/2</option><option value="7">4/1</option><option value="8">4/2</option>
            </select>
          </div>
          <div class ="col-md-3 col-sm-6">
            <select class="form-select-sm" name="isMajor" id="major">
              <option value="" selected>Major/Minor</option><option value="false">Minor</option><option value="true">Major</option>
            </select>
          </div>
          <div class ="col-md-3 col-sm-6 col-xs-6">
            <select class="form-select-sm" name="isLab" id="theory">
              <option value="" selected>Theory/Lab</option><option value="false">Theory</option><option value="true">Lab</option>
            </select>
          </div>
          <div class ="col-md-3 col-sm-6 col-xs-6">
            <select class="form-select-sm" name="credit" id="credit">
              <option value="" selected>All Credit</option><option value="0.5">0.5</option><option value="1">1.00</option><option value="1.5">1.5</option><option value="2">2.00</option><option value="3">3.00</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>